@import "../abstracts/variables";
@import "../abstracts/mixins";
.hero {
  height: 110vh;
  background-image: linear-gradient(rgba(black, 0.5), rgba(126, 72, 81, 0.411)),
    url(/image/hero-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h3 {
      color: $color-white;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 1.5rem;
    }
  }
}

// ---------------------------------------- Working ---------------

.working {
  background-image: url(/image/black-bg.jpg);
  height: 50rem;
  color: $color-white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    text-decoration: underline;
  }
}

// ---------------------------------------- Learn More ---------------

.more {
  background-image: url(/image/bg-1.jpg);
  height: 40rem;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addition {
  background-image: url(/image/bg-2.jpg);
  height: 40rem;
  background-position: center;
  background-size: cover;
}

.final {
  background-image: url(/image/final-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 0;

  &-content {
    @include setWidth;
    color: $color-white;
    font-size: 3rem;

    &-1 {
      text-align: right;
      width: 45%;
      margin-bottom: 3rem;
      line-height: 5rem;
      letter-spacing: 1rem;

      h4 {
        font-weight: 400;
      }
      @include respond(phone) {
        width: 100%;
      }
    }

    &-2 {
      width: 45%;
      margin-left: auto;

      h6 {
        font-weight: 400;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &-map {
    width: 90%;
    height: 30rem;
    margin-left: 5%;
    margin-top: 8rem;
  }
}

.footer {
  background-color: $color-black;
  padding-top: 8rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: $color-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-top {
    margin-bottom: 5rem;
    font-size: 4rem;

    & :not(:last-child) {
      margin-right: 5rem;
    }
  }

  &-bottom {
    h6 {
      font-weight: 400;
    }
  }
}
